.hero{
    margin: 256px 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h1{
        font-size: 12.8rem;
        line-height: 100%;
    }
}

.hero-circle{
    right: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 600px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.meals-container{
    margin-top: 25.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.search-meal-container{
    text-align: center;



        
        .meal-overlay{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0;
            transition: all 0.5s ease-in-out;

            &:hover{
                opacity: 0.5;
            }
        }

        img{

            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    h1{
        margin-top: 1.2rem;
        font-size: 3.2rem;

}

.meal-img-container{
    position: relative;
    aspect-ratio: 4 / 4;
    border-radius: 15px;
    overflow: hidden;
}

//Navigation
.search-block{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
}

.search-block input {
    background-color: var(--white);
    padding: 10px 20px;
    transition: all .15s;
    width: 100%;
}

.search-block button {
    background: var(--white);
    color: #fff;
    padding: 10px 12px;
    height: 100%;
}

.meal-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .meal-img-container{
        width: 50%;
    }


}


.meal-info{
    h1{
        font-size: 4.8rem;
        margin-bottom: 1.6rem;
    }

    h3{
        font-size: 2rem;
        display: inline;
        margin-right: 1rem;
        color: var(--secondary-color);
    }

    .meal-ingredients{
        margin-top: 1.6rem;

        h2{
            font-size: 1.6rem;
        }

        strong{
            color: #ffac71;
        }
    }
}

.meal-instruction{
    padding: 128px 0;

    h1{
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 32px;
    }

    button{
        font-size: 1.6rem;
        margin: 32px 0 0;
        padding: 8px 32px;
        color: var(--white);
        background: var(--secondary-color);
        border-radius: 25px;
    }
}


@media screen and (max-width: 768px) {

    .search-block{
        width: 250px;
    }

    .meals-container{
        margin-top: 25.6rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero{
        margin-top: 25.6rem;
    }

    .hero-circle{
        width: 400px;
    }

    .search-meal-container{

        h1{
            font-size: 2.4rem;
        }
    }
    
}

@media screen and (max-width: 500px) {
    .search-block{
        width: 200px;
    }

    .hero{
        h1{
            font-size: 10rem;
        }
    }

    .meals-container{
        margin-top: 20rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-circle{
        width: 300px;
    }

    .meal-instruction{
        padding: 64px 0;
    }

    // .meal-info-container{
    //     flex-direction: column-reverse;
    //     gap: 2rem;
    // }

    
    // .meal-img-container{
    //     width: 80% !important;
    // }
}